<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emmmua.mapper.momentsMapper">
    
    <resultMap id="momentsResultMap" type="moments">
        <result column="dep_id" property="depId"></result>
    </resultMap>
    
    <select id="selectAll" resultMap="momentsResultMap">
        select * from moments;
    </select>
</mapper>